* {
  --pink: rgb(250, 25, 164);
}

div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(15, 15, 15);
  padding: 32px 0px;
  color: var(--pink);
}

span {
  color: rgb(50, 50, 50);
}
