.container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > p {
  margin-top: 8px;
}

#profile-photo {
  width: 100px;
  border-radius: 50%;
}

#tech-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;

  margin-top: 8px;
}
