div {
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #008a6c;
}

.add {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(0, 255, 85);
  color: #000;
}

.angular {
  background-color: #dd0031;
}

.spring {
  background-color: #6DB33F;
}

.rabbitmq {
  background-color: #f60;
}

.mysql {
  background-color: #005f8a;
}
