<app-card *ngIf="isAliveCard; else anotheBlock"></app-card>

<div id="btns" [ngSwitch]="menuType">
  <div *ngSwitchCase="'user'">
    <app-cool-btn
      *ngSwitchCase="'user'"
      (click)="showOrHide()"
      texto="Seguir"
    ></app-cool-btn>
  </div>

  <div *ngSwitchCase="'admin'">
    <app-cool-btn texto="Deletar" (click)="showOrHide()"></app-cool-btn>
    <app-cool-btn texto="Seguir"></app-cool-btn>
  </div>

  <div *ngSwitchCase="'superuser'">
    <app-cool-btn
      texto="Deletar"
      (click)="showOrHide()"
      id="btn-seguir"
    ></app-cool-btn>
    <app-cool-btn texto="Seguir"></app-cool-btn>
    <app-cool-btn texto="Info"></app-cool-btn>
  </div>
</div>

<ng-template #anotheBlock>
  <div id="black-square">
    <div>( º ~ º)b</div>
    <p>No profile</p>
  </div>
</ng-template>

<br />
<hr [style]="{ border: '1px solid #333' }" />
<br />
<h2>Projetos</h2>
<br />

<input
  [ngStyle]="{
    margin: 'auto',
    fontFamily: 'Ubuntu',
    backgroundColor: 'transparent',
    border: '1px solid gray',
    borderRadius: '8px',
    padding: '8px',
    color: '#fff'
  }"
  type="text"
  [(ngModel)]="projeto"
  (focusout)="adicionarProjeto()"
  placeholder="Novo Projeto"
/>

<ul
  [style]="{
    marginBottom: '300px'
  }"
>
  <li
    [ngStyle]="{
      marginTop: '8px',
      backgroundColor: 'yellow',
      padding: '2px 8px',
      color: '#000',
      borderRadius: '8px'
    }"
    (click)="removerProjeto(i)"
    *ngFor="let project of projetos; let i = index"
  >
    {{ project }}
  </li>
</ul>

<br />
<app-footer>
  <span id="discord">Discord</span>
  <span id="github">GitHub</span>
  <span id="linkedin">LinkedIn</span>
</app-footer>

<router-outlet></router-outlet>
